.card{
    position: fixed;
    background-color: rgb(255,255,255,0.6);
    border: 3px solid white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 60%;

    @media only screen and (max-width: 600px) {
        width: 90%;
    }
}
